.btn {
	&,
	&:link,
	&:visited {
	text-transform: uppercase;
	text-decoration: none;
	padding: 1.5rem 4rem;
	display: inline-block;
	border-radius: 10rem;
	transition: all .2s;
	position: relative; 
	font-size: $default-font-size;

	border: none;
	cursor: pointer;
	}
	
	&:hover {
		transform:translateY(-0.3rem);
		box-shadow: 0 1rem 2rem rgba($color-black, .2); 

		&::after {
			transform: scaleX(1.4) scaleY(1.6); 
			opacity: 0; 
		}
	}

	&:active,
	&:focus { 
		outline: none;
		transform:translateY(-0.1rem); 
		box-shadow: 0 0.5rem 1rem rgba($color-black, .2); 
	}

	&--white {
		color: $color-grey-dark;
		background-color: $color-white; 
	
		&::after {
			background-color: $color-white;
		}
	}

	&--green {
		color: $color-white;
		background-color: $color-primary; 
	
		&::after {
			background-color: $color-primary; 
		}
	}

	&::after {
		content:""; 
		display: inline-block; 
		height: 100%; 
		width: 100%; 
		border-radius: 10rem; 
		position: absolute; 
		top: 0;
		left: 0;
		z-index: -1; 
		transition: all .4s 
	}

	&--animated {
		animation: moveInBottom .5s ease-out .5s; 
		animation-fill-mode: backwards; 
	}
}

.btn-text {
	&:link,
	&:visited {
		font-size: $default-font-size;
		color: $color-primary;
		display: inline-block;
		text-decoration: none;
		border-bottom: .1rem solid $color-primary;
		padding: .3rem;
		transition: all .2s;
	}

	&:hover {
		background-color: $color-primary;
		color: $color-white;
		box-shadow: 0 1rem 2rem rgba($color-black, .15);
		transform:translateY(-0.3rem);
	}

	&:active {
		box-shadow: 0 .5rem 1rem rgba($color-black, .15);
		transform: translateY(0);
	}
}
