.popup {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba($color-black, .8);
	z-index: 9999;
	opacity: 0;
	visibility: hidden;

	transition: all .3s;

	@supports(-webkit-backdrop-filter: blur(1rem)) or (backdrop-filter: blur(1rem)) {
		-webkit-backdrop-filter: blur(1rem);
		backdrop-filter: blur(1rem);
		background-color: rgba($color-black, .3);
	}


	&__content { 
		@include absCenter;

		width: 75%;
		background-color: $color-white;
		box-shadow: 0 2rem 4rem rgba($color-black, .2);
		border-radius: .3rem;
		display: table; 
		overflow: hidden;
		opacity: 0;
		transform: translate(-50%, -50%)scale(0.4);
		transition: all .4s .1s;
	}

	&__left { 
		width: 33.33333333%;
		display: table-cell;	
	}

	&__right {
		width: 66.666666667%;
		display: table-cell;  
		vertical-align: middle; 
		padding: 3rem 5rem;
	}

	&__img {
		display: block; 
		width: 100%;
	}

	&__text {
		margin-bottom: 4rem;
		font-size: 1.4rem;
		
		-moz-column-count: 2;
		-moz-column-gap: 4rem;
		-moz-column-rule: .1rem solid $color-grey;
		
		column-count: 2; 
		column-gap: 4rem; 
		column-rule: .1rem solid $color-grey; 
		
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		-webkit-hyphens: auto;
		hyphens: auto;
	}
	
	/* OPEN STATES */

	&:target {
		opacity: 1;
		visibility: visible;
	}

	&:target &__content {
		opacity: 1;
		transform: translate(-50%, -50%)scale(1);
	}

	&__close {
		&:link,
		&:visited {
			color: $color-grey-dark;
			position: absolute;
			top: 2.5rem;
			right: 2.5rem;
			font-size: 3rem;
			text-decoration: none;
			display: inline-block;
			transition: all .2s;
			line-height: 1;
		}

		&:hover{
			color: $color-primary;
		}
	}
}















